@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 11%;
  --primary: 165 32% 53%;
  --primary-foreground: 0 0% 100%;
  --accent: 165 32% 90%;
  --accent-foreground: 165 32% 53%;
  --muted: 0 0% 97%;
  --muted-foreground: 0 0% 59%;
  --border: 0 0% 94%;
  --radius: 1rem;
}

body {
  font-family: var(--font-inter);
  background: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-chloe);
}
